html,
body {
  min-height: 100%;
  height: 100%;
}

.header {
  background: -webkit-gradient(linear, left top, right top, color-stop(60%, #28457E), to(#4772c5));
  background: linear-gradient(90deg, #28457E 60%, #4772c5);
  height: 50px;
  color: #fff;
  margin: 0;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: +1;
}

.header .admin_info {
  display: inline-block;
  max-width: 290px;
  position: relative;
  top: 15px;
}

.header .admin_info a {
  color: #fff;
  font-weight: 600;
}

.header .admin_info a small {
  color: #28457E;
}

.header .admin_info .admin_picture {
  width: 80px;
  /*height: 80px;*/
  border: 3px solid #e2e9f6;
  vertical-align: top;
}

.header .admin_info .user {
  display: inline-block;
}

.header .admin_info .user h4 {
  margin: 10px 0;
}

.sidebar {
  display: inline-block;
  float: left;
  background: -webkit-gradient(linear, left top, left bottom, from(#4772c5), to(#F2F2F2));
  background: linear-gradient(#4772c5, #F2F2F2);
  width: 320px;
  height: 100vh;
  color: #fff;
  padding: 0px 15px 15px 15px;
}

.sidebar .nav {
  margin-top: 56px;
  background-color: #F2F2F2;
}

.dash-content {
  margin-left: 320px !important;
  padding-top: 15px;
}

.dash-content .table .thumbnail {
  display: inline-block !important;
  margin: 0 5px 0 0 !important;
}

@media only screen and (max-width: 767px) {
  .sidebar {
    width: 100%;
    height: auto;
  }

  .dash-content {
    margin-left: auto !important;
  }
}

